body{
  font-size: 16px;
  display: flex;
  justify-content: center;
    
}
.grid-container {
  max-width: 960px;
   display:grid; 
  top: 200px;
  position: absolute;

  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 3em;
    height: 3em;
    
  }

  .button{
    margin-top: 100px;
  }

 